<h1>Welcome#Help</h1>
<p>Find me in app/views/welcome/help.html.erb</p>

Today is <%= Time.now.strftime('%A') %> <br>


<%= "@message_controller: #{@message_controller}"%> <br>

<%= params[:id]  if (params.has_key?(:id)) %> <br>

<%= " @id_controller : #{ @id_controller }" %>